services:

    Schvoy\UserBundle\Repository\UserRepository:
        autowire: true
        autoconfigure: true

    Schvoy\UserBundle\Security\PasswordUpdater:
        autowire: true

    Schvoy\UserBundle\Security\PasswordUpdaterInterface: '@Schvoy\UserBundle\Security\PasswordUpdater'

    Schvoy\UserBundle\EventSubscriber\PasswordHashingDoctrineEventSubscriber:
        tags: [ 'doctrine.event_subscriber' ]